.col {
  float: left; }

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .container:after {
    content: '';
    clear: both;
    display: block; }

.col-xl-1 {
  width: 100px; }

.col-xl-2 {
  width: 200px; }

.col-xl-3 {
  width: 300px; }

.col-xl-4 {
  width: 400px; }

.col-xl-5 {
  width: 500px; }

.col-xl-6 {
  width: 600px; }

.col-xl-7 {
  width: 700px; }

.col-xl-8 {
  width: 800px; }

.col-xl-9 {
  width: 900px; }

.col-xl-10 {
  width: 1000px; }

.col-xl-11 {
  width: 1100px; }

.col-xl-12 {
  width: 1200px; }

@media screen and (max-width: 1219px) and (min-width: 980px) {
  .container {
    width: 960px; }

  .col-l-1, .col-xl-1 {
    width: 80px; }

  .col-l-2, .col-xl-2 {
    width: 160px; }

  .col-l-3, .col-xl-3 {
    width: 240px; }

  .col-l-4, .col-xl-4 {
    width: 320px; }

  .col-l-5, .col-xl-5 {
    width: 400px; }

  .col-l-6, .col-xl-6 {
    width: 480px; }

  .col-l-7, .col-xl-7 {
    width: 560px; }

  .col-l-8, .col-xl-8 {
    width: 640px; }

  .col-l-9, .col-xl-9 {
    width: 720px; }

  .col-l-10, .col-xl-10 {
    width: 800px; }

  .col-l-11, .col-xl-11 {
    width: 880px; }

  .col-l-12, .col-xl-12 {
    width: 960px; }

  .col-l-1 {
    width: 80px; }

  .col-l-2 {
    width: 160px; }

  .col-l-3 {
    width: 240px; }

  .col-l-4 {
    width: 320px; }

  .col-l-5 {
    width: 400px; }

  .col-l-6 {
    width: 480px; }

  .col-l-7 {
    width: 560px; }

  .col-l-8 {
    width: 640px; }

  .col-l-9 {
    width: 720px; }

  .col-l-10 {
    width: 800px; }

  .col-l-11 {
    width: 880px; }

  .col-l-12 {
    width: 960px; }

  .hide-l {
    display: none; } }
@media screen and (max-width: 979px) and (min-width: 740px) {
  .container {
    width: 720px; }

  .col-xl-1 {
    width: 60px; }

  .col-xl-2 {
    width: 120px; }

  .col-xl-3 {
    width: 180px; }

  .col-xl-4 {
    width: 240px; }

  .col-xl-5 {
    width: 300px; }

  .col-xl-6 {
    width: 360px; }

  .col-xl-7 {
    width: 420px; }

  .col-xl-8 {
    width: 480px; }

  .col-xl-9 {
    width: 540px; }

  .col-xl-10 {
    width: 600px; }

  .col-xl-11 {
    width: 660px; }

  .col-xl-12 {
    width: 720px; }

  .col-l-1 {
    width: 60px; }

  .col-l-2 {
    width: 120px; }

  .col-l-3 {
    width: 180px; }

  .col-l-4 {
    width: 240px; }

  .col-l-5 {
    width: 300px; }

  .col-l-6 {
    width: 360px; }

  .col-l-7 {
    width: 420px; }

  .col-l-8 {
    width: 480px; }

  .col-l-9 {
    width: 540px; }

  .col-l-10 {
    width: 600px; }

  .col-l-11 {
    width: 660px; }

  .col-l-12 {
    width: 720px; }

  .col-m-1 {
    width: 60px; }

  .col-m-2 {
    width: 120px; }

  .col-m-3 {
    width: 180px; }

  .col-m-4 {
    width: 240px; }

  .col-m-5 {
    width: 300px; }

  .col-m-6 {
    width: 360px; }

  .col-m-7 {
    width: 420px; }

  .col-m-8 {
    width: 480px; }

  .col-m-9 {
    width: 540px; }

  .col-m-10 {
    width: 600px; }

  .col-m-11 {
    width: 660px; }

  .col-m-12 {
    width: 720px; }

  .hide-l, .hide-m {
    display: none; } }
@media screen and (max-width: 739px) and (min-width: 560px) {
  .container {
    width: 540px; }

  .col-xl-1 {
    width: 45px; }

  .col-xl-2 {
    width: 90px; }

  .col-xl-3 {
    width: 135px; }

  .col-xl-4 {
    width: 180px; }

  .col-xl-5 {
    width: 225px; }

  .col-xl-6 {
    width: 270px; }

  .col-xl-7 {
    width: 315px; }

  .col-xl-8 {
    width: 360px; }

  .col-xl-9 {
    width: 405px; }

  .col-xl-10 {
    width: 450px; }

  .col-xl-11 {
    width: 495px; }

  .col-xl-12 {
    width: 540px; }

  .col-l-1 {
    width: 45px; }

  .col-l-2 {
    width: 90px; }

  .col-l-3 {
    width: 135px; }

  .col-l-4 {
    width: 180px; }

  .col-l-5 {
    width: 225px; }

  .col-l-6 {
    width: 270px; }

  .col-l-7 {
    width: 315px; }

  .col-l-8 {
    width: 360px; }

  .col-l-9 {
    width: 405px; }

  .col-l-10 {
    width: 450px; }

  .col-l-11 {
    width: 495px; }

  .col-l-12 {
    width: 540px; }

  .col-m-1 {
    width: 45px; }

  .col-m-2 {
    width: 90px; }

  .col-m-3 {
    width: 135px; }

  .col-m-4 {
    width: 180px; }

  .col-m-5 {
    width: 225px; }

  .col-m-6 {
    width: 270px; }

  .col-m-7 {
    width: 315px; }

  .col-m-8 {
    width: 360px; }

  .col-m-9 {
    width: 405px; }

  .col-m-10 {
    width: 450px; }

  .col-m-11 {
    width: 495px; }

  .col-m-12 {
    width: 540px; }

  .col-s-1 {
    width: 45px; }

  .col-s-2 {
    width: 90px; }

  .col-s-3 {
    width: 135px; }

  .col-s-4 {
    width: 180px; }

  .col-s-5 {
    width: 225px; }

  .col-s-6 {
    width: 270px; }

  .col-s-7 {
    width: 315px; }

  .col-s-8 {
    width: 360px; }

  .col-s-9 {
    width: 405px; }

  .col-s-10 {
    width: 450px; }

  .col-s-11 {
    width: 495px; }

  .col-s-12 {
    width: 540px; }

  .hide-l, .hide-m, .hide-s {
    display: none; } }
@media screen and (max-width: 559px) {
  .container {
    width: 100%;
    padding: 0 10px; }

  .col-xl-1 {
    width: 8.33333%; }

  .col-xl-2 {
    width: 16.66667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.33333%; }

  .col-xl-5 {
    width: 41.66667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.33333%; }

  .col-xl-8 {
    width: 66.66667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.33333%; }

  .col-xl-11 {
    width: 91.66667%; }

  .col-xl-12 {
    width: 100%; }

  .col-l-1 {
    width: 8.33333%; }

  .col-l-2 {
    width: 16.66667%; }

  .col-l-3 {
    width: 25%; }

  .col-l-4 {
    width: 33.33333%; }

  .col-l-5 {
    width: 41.66667%; }

  .col-l-6 {
    width: 50%; }

  .col-l-7 {
    width: 58.33333%; }

  .col-l-8 {
    width: 66.66667%; }

  .col-l-9 {
    width: 75%; }

  .col-l-10 {
    width: 83.33333%; }

  .col-l-11 {
    width: 91.66667%; }

  .col-l-12 {
    width: 100%; }

  .col-m-1 {
    width: 8.33333%; }

  .col-m-2 {
    width: 16.66667%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33333%; }

  .col-m-5 {
    width: 41.66667%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33333%; }

  .col-m-8 {
    width: 66.66667%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33333%; }

  .col-m-11 {
    width: 91.66667%; }

  .col-m-12 {
    width: 100%; }

  .col-s-1 {
    width: 8.33333%; }

  .col-s-2 {
    width: 16.66667%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33333%; }

  .col-s-5 {
    width: 41.66667%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33333%; }

  .col-s-8 {
    width: 66.66667%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33333%; }

  .col-s-11 {
    width: 91.66667%; }

  .col-s-12 {
    width: 100%; }

  .col-xs-1 {
    width: 8.33333%; }

  .col-xs-2 {
    width: 16.66667%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.33333%; }

  .col-xs-5 {
    width: 41.66667%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.33333%; }

  .col-xs-8 {
    width: 66.66667%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.33333%; }

  .col-xs-11 {
    width: 91.66667%; }

  .col-xs-12 {
    width: 100%; }

  .hide-l, .hide-m, .hide-s, .hide-xs {
    display: none; } }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

audio:not([controls]) {
  display: none;
  height: 0; }

body {
  line-height: 1;
  font-size: 16px; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.clear {
  clear: both;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

strong, b {
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input,
textarea,
select {
  *font-size: 100%; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

img {
  border: 0; }

i {
  font-style: italic; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll; }

.ico2 {
  display: block;
  margin: auto;
  width: 39px;
  height: 27px; }

.bus {
  background: url(../img/sprites.png) no-repeat 0 -53px; }

.plane {
  background: url(../img/sprites.png) no-repeat -39px -53px; }

.sync {
  background: url(../img/sprites.png) no-repeat -82px -53px; }

.arrow {
  background: url(../img/sprites.png) no-repeat -117px -53px; }

.ico1 {
  display: block;
  margin: auto;
  width: 84px;
  height: 53px; }

.button {
  width: 150px;
  height: 70px;
  padding: 10px 0;
  overflow: hidden;
  margin: auto;
  font-family: 'Bebas Neue W01 Regular';
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  z-index: 100;
  position: relative; }
  .button:hover div {
    background-color: #07295e; }
  .button div {
    margin-left: -10px;
    line-height: 50px;
    display: block;
    background: #08aee2;
    width: 170px;
    height: 50px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -ms-transform-origin: 50% 50%;
    /* IE 9 */
    -webkit-transform-origin: 50% 50%;
    /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;
    transition: all 0.2s ease;
    /*        &:hover{
                -ms-transform: rotate(5deg);
                -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
            }*/ }
  .button a {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 16px; }
    .button a span {
      position: relative; }

.screen {
  width: 100% !important;
  height: 600px !important;
  display: block;
  margin: 0; }

.lines {
  display: inline-block;
  position: relative;
  padding: 0; }
  .lines:before, .lines:after {
    top: 0;
    bottom: 0;
    content: '';
    width: 12px;
    height: 2px;
    background-color: #e5e5e5;
    position: absolute;
    margin: auto; }
  .lines:before {
    left: -24px; }
  .lines:after {
    right: -24px; }

.linesHover:hover:before {
  -ms-transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
  left: -20px; }
.linesHover:hover:after {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  right: -20px; }
.linesHover:before, .linesHover:after {
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.left, .right {
  display: block;
  width: 50%;
  height: 100% !important;
  text-align: center; }
  .left .verticalCenter, .right .verticalCenter {
    display: table;
    width: 100%;
    height: 100%; }

.left {
  float: left;
  padding-right: 100px; }

.right {
  float: right;
  padding-left: 100px; }

.text {
  margin: auto;
  margin-top: 11px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  width: 80%; }

header {
  width: 100% !important;
  height: 100% !important;
  position: relative;
  background-image: url("../img/eventyr.jpg");
  background-size: cover; }
  header #mobileNavWrap {
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    position: fixed;
    display: none;
    max-height: 68px;
    height: 100%;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease; }
    header #mobileNavWrap.expanded {
      max-height: 1000px; }
      header #mobileNavWrap.expanded #mobileNav {
        max-height: 1000px;
        height: 100%; }
        header #mobileNavWrap.expanded #mobileNav .logo {
          top: 20px; }
        header #mobileNavWrap.expanded #mobileNav .showMenu .click {
          /*                background-color: #166888;
                          -ms-transform: rotate(90deg);
                          -webkit-transform: rotate(90deg);
                          transform: rotate(90deg);*/
          background: #07295e !important; }
          header #mobileNavWrap.expanded #mobileNav .showMenu .click span {
            background: none !important; }
          header #mobileNavWrap.expanded #mobileNav .showMenu .click span:before {
            top: 0;
            transform: rotate(45deg); }
          header #mobileNavWrap.expanded #mobileNav .showMenu .click span:after {
            bottom: 0;
            transform: rotate(-45deg); }
          header #mobileNavWrap.expanded #mobileNav .showMenu .click span:before, header #mobileNavWrap.expanded #mobileNav .showMenu .click span:after {
            transition-delay: 0s, 0.3s; }
    header #mobileNavWrap #mobileNav {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      color: #07295e;
      font-size: 13px;
      position: relative;
      text-align: center;
      background: #fff;
      max-height: 50px;
      -webkit-transition: max-height 0.5s ease;
      -moz-transition: max-height 0.5s ease;
      -o-transition: max-height 0.5s ease;
      transition: max-height 0.5s ease;
      padding-bottom: 25px; }
      header #mobileNavWrap #mobileNav .menu {
        padding-top: 160px;
        width: 100%; }
      header #mobileNavWrap #mobileNav .logo {
        background: url("../img/logo-mini.png") no-repeat;
        position: absolute;
        left: 0;
        top: -19px;
        right: 0;
        width: 108px;
        height: 131px;
        margin: auto;
        z-index: 0;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease; }
      header #mobileNavWrap #mobileNav .studentreise {
        position: relative;
        z-index: 10;
        line-height: 50px;
        margin-left: 20px;
        letter-spacing: -0.025em;
        float: left;
        cursor: default; }
        header #mobileNavWrap #mobileNav .studentreise span {
          color: #08aee2; }
      header #mobileNavWrap #mobileNav .showMenu {
        position: relative;
        z-index: 10;
        cursor: pointer;
        float: right;
        margin-top: 18px;
        margin-right: 20px;
        height: 15px; }
        header #mobileNavWrap #mobileNav .showMenu p {
          line-height: 15px;
          float: left;
          margin-right: 10px; }
        header #mobileNavWrap #mobileNav .showMenu .click {
          /*                    
                              float:right;
                              width:22px;
                              height:15px;
                              background:url("../img/sprites.png") no-repeat -196px -58px;
          */
          float: right;
          display: block;
          position: relative;
          overflow: hidden;
          margin: 0;
          padding: 0;
          width: 22px;
          height: 22px;
          margin-top: -3px;
          font-size: 0;
          text-indent: -9999px;
          appearance: none;
          box-shadow: none;
          border-radius: none;
          border: none;
          cursor: pointer;
          transition: background 0.3s;
          background: #08aee2; }
          header #mobileNavWrap #mobileNav .showMenu .click:focus {
            outline: none; }
          header #mobileNavWrap #mobileNav .showMenu .click span {
            display: block;
            position: absolute;
            top: 10px;
            left: 3px;
            right: 3px;
            height: 2px;
            background: #fff;
            transition: transform 0.3s; }
          header #mobileNavWrap #mobileNav .showMenu .click span:before,
          header #mobileNavWrap #mobileNav .showMenu .click span:after {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            content: "";
            background: #fff;
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s; }
          header #mobileNavWrap #mobileNav .showMenu .click span:before {
            top: -6px;
            transition-property: top, transform; }
          header #mobileNavWrap #mobileNav .showMenu .click span:after {
            bottom: -6px;
            transition-property: bottom, transform; }

nav .facebook, #mobileNav .facebook {
  position: relative;
  margin-top: 40px; }
  nav .facebook a, #mobileNav .facebook a {
    display: block;
    margin: auto;
    height: 17px;
    width: 21px;
    background: url(../img/sprites.png) no-repeat -21px -80px; }
  nav .facebook p, #mobileNav .facebook p {
    margin-top: 10px;
    margin-bottom: 45px; }
  nav .facebook p span, #mobileNav .facebook p span {
    color: #08aee2; }

nav .lines:before, mobileNav .lines:before {
  left: -20px; }
nav .lines:after, mobileNav .lines:after {
  right: -20px; }

nav ul, #mobileNav ul {
  margin-top: 40px; }
  nav ul li a, #mobileNav ul li a {
    display: block;
    height: 26px;
    line-height: 26px;
    padding: 0 5px; }
    nav ul li a.active, #mobileNav ul li a.active {
      color: #08aee2; }
    nav ul li a:hover, #mobileNav ul li a:hover {
      color: #2f5186; }
  nav ul li, #mobileNav ul li {
    position: relative;
    display: block;
    margin-bottom: 2px; }
    nav ul li:after, #mobileNav ul li:after {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      width: 16px;
      margin: auto;
      bottom: -2px;
      left: 0;
      right: 0;
      background: #e5e5e5; }
    nav ul li:last-of-type:after, #mobileNav ul li:last-of-type:after {
      display: none; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 200px;
  height: 530px;
  padding-top: 37px;
  background: #fff;
  border-top: solid 1px #e5e5e5;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #07295e;
  font-size: 13px;
  z-index: 1000;
  transition: height 0.4s ease; }
  nav .jegErMed {
    top: -20px; }
    nav .jegErMed a {
      height: 40px; }
  nav .edge {
    height: 72px;
    width: 199px;
    position: absolute;
    left: 0;
    bottom: 0;
    bottom: -18px;
    border-left: 1px solid #e5e5e5;
    margin-left: -1px;
    overflow: hidden; }
    nav .edge:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      bottom: 0;
      margin: auto;
      height: 50px;
      width: 130%;
      border-bottom: 1px solid #e5e5e5;
      background: #fff;
      -ms-transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
      -ms-transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
  nav .loadMore {
    display: none;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
    margin: auto; }
    nav .loadMore a {
      margin: auto;
      width: 31px;
      height: 27px; }

#turene .date {
  font-size: 13px;
  color: #a3a3a3;
  margin-top: 15px;
  letter-spacing: 0.4em; }

#turene .price {
  margin-top: 11px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #07295e; }

#turene .from, h3 {
  font-size: 24px;
  font-family: Georgia, serif;
  font-style: italic;
  margin-top: 11px;
  color: #08aee2; }

#turene .to, h2 {
  margin-top: 11px;
  font-size: 36px;
  font-family: 'ITC Avant Garde Gothic W02 Bd';
  color: #07295e;
  letter-spacing: -0.05em; }

#turene {
  padding-top: 50px;
  padding-bottom: 25px;
  overflow: hidden;
  position: relative; }
  #turene .loadMore {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #07295e;
    font-size: 13px;
    text-align: center; }
    #turene .loadMore a {
      margin: auto;
      width: 31px;
      height: 27px; }
  #turene .element {
    position: relative;
    margin: auto;
    margin-bottom: 50px; }
    #turene .element .button {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -160px;
      z-index: 0;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease; }
    #turene .element .image {
      width: 100%;
      position: relative;
      z-index: 1; }
      #turene .element .image img {
        width: 100%; }
      #turene .element .image:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -11px;
        margin: auto;
        height: 30px;
        width: 120px;
        display: block;
        background: url("../img/curvyborder.png") no-repeat; }
    #turene .element .under {
      border: 1px solid #e5e5e5;
      text-align: center;
      margin: auto;
      padding-bottom: 40px;
      padding-top: 25px;
      margin-top: 10px; }

#omSlider, #sammarbeidSlider {
  overflow: hidden;
  margin: auto;
  width: 50%; }
  #omSlider .holder, #sammarbeidSlider .holder {
    padding: 0px; }
  #omSlider .wrapElement, #sammarbeidSlider .wrapElement {
    width: 50%;
    padding-left: 100px; }
  #omSlider .element, #sammarbeidSlider .element {
    margin: auto !important; }

.pages {
  margin-top: 20px;
  margin-left: 100px; }
  .pages li {
    width: 30px;
    height: 20px;
    color: transparent;
    position: relative;
    display: inline-block;
    cursor: pointer; }
    .pages li:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 5px;
      width: 5px;
      background-color: #2c4976;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      color: transparent;
      cursor: pointer;
      transition: width 0.4s ease 0s, height 0.4s ease 0s;
      -moz-transition: width 0.4s ease 0s, height 0.4s ease 0s;
      -webkit-transition: width 0.4s ease 0s, height 0.4s ease 0s;
      -o-transition: width 0.4s ease 0s, height 0.4s ease 0s; }
    .pages li.active:after {
      height: 10px;
      width: 10px;
      border: 2px solid #08aee2;
      background-color: transparent; }

#om .right {
  background: #07295e;
  position: relative;
  transition: all 0.3s ease-out 0.3s;
  -moz-transition: all 0.3s ease-out 0.3s;
  -webkit-transition: all 0.3s ease-out 0.3s;
  -o-transition: all 0.3s ease-out 0.3s;
  padding: 0; }
  #om .right .baloon1, #om .right .baloon2, #om .right .baloon3 {
    position: absolute; }
  #om .right .baloon1 {
    right: 60px;
    top: 60px; }
  #om .right .baloon2 {
    left: -60px;
    top: -50px; }
  #om .right .baloon3 {
    right: -200px;
    bottom: -100px; }
  #om .right .element .quote {
    display: block;
    width: 18px;
    height: 12px;
    background: url("../img/sprites.png") no-repeat -87px -80px;
    margin: 20px auto; }
    #om .right .element .quote:before, #om .right .element .quote:after {
      background-color: #2c4976; }
  #om .right .element h2 {
    color: #fff; }
  #om .right .element .text {
    color: #fff; }
#om .left {
  position: relative;
  background-size: cover; }
  #om .left div {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
#om .wrap {
  display: table-cell;
  vertical-align: middle; }

#hvorfor .icoHolder {
  position: relative;
  display: block;
  margin: auto;
  width: 84px;
  height: 53px; }
#hvorfor .ico1 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
#hvorfor #hvorforSlider {
  height: 230px;
  margin: auto; }
#hvorfor .h2Wrap {
  text-align: center;
  margin: auto; }
#hvorfor .pages {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
  margin: auto;
  width: 30px;
  height: 100px; }
  #hvorfor .pages li {
    color: transparent;
    display: block; }
    #hvorfor .pages li:after {
      background: #A3A3A3; }
    #hvorfor .pages li.active:after {
      height: 10px;
      width: 10px;
      border: 2px solid #A3A3A3;
      background: #fff; }
#hvorfor .wrap {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative; }
#hvorfor .right {
  background-position: right top;
  position: relative;
  background-size: cover;
  z-index: -1; }
  #hvorfor .right div {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    left: 0;
    right: 0; }
#hvorfor .left .element {
  background: #fff;
  height: 230px; }
#hvorfor .element {
  margin: auto;
  position: relative;
  padding: 0;
  z-index: 0; }
  #hvorfor .element .text {
    color: #a3a3a3; }
  #hvorfor .element .number {
    margin-top: 15px;
    margin-bottom: 9px;
    font-size: 18px;
    font-family: Georgia, serif;
    font-style: italic;
    color: #a3a3a3; }

#sammarbeid .pages li {
  color: transparent; }
  #sammarbeid .pages li:after {
    background: #A3A3A3; }
  #sammarbeid .pages li.active:after {
    height: 10px;
    width: 10px;
    border: 2px solid #A3A3A3;
    background: #fff; }
#sammarbeid .wrap {
  display: table-cell;
  vertical-align: middle; }
#sammarbeid .left {
  background-color: #08aee2;
  position: relative; }
  #sammarbeid .left .baloon4, #sammarbeid .left .baloon5 {
    position: absolute; }
  #sammarbeid .left .baloon4 {
    left: -90px;
    top: -190px; }
  #sammarbeid .left .baloon5 {
    right: -70px;
    bottom: -70px; }
  #sammarbeid .left h3, #sammarbeid .left .text {
    color: #fff; }
  #sammarbeid .left .text {
    color: #fff; }
  #sammarbeid .left .arrow {
    margin-top: 15px; }
    #sammarbeid .left .arrow:after, #sammarbeid .left .arrow:before {
      background-color: #46c2e9; }
#sammarbeid .right {
  padding: 0; }
  #sammarbeid .right .h2Wrap {
    text-align: center;
    margin: auto;
    padding-left: 100px; }
  #sammarbeid .right .text {
    color: #a3a3a3; }
  #sammarbeid .right .button2 {
    display: block;
    height: 51px;
    width: 160px;
    border: 2px solid #e5e5e5;
    color: #a3a3a3;
    font-size: 13px;
    line-height: 47px;
    text-align: center;
    margin: auto;
    margin-top: 20px; }
    #sammarbeid .right .button2:hover {
      background: #e5e5e5; }
#sammarbeid .element {
  margin: auto;
  position: relative; }

#kontakt .element {
  margin: auto; }
#kontakt .wrap {
  display: table-cell;
  vertical-align: middle; }
#kontakt .left .links {
  color: #07295e;
  font-size: 15px;
  font-weight: 900;
  margin-top: 40px; }
  #kontakt .left .links a {
    text-decoration: underline; }
  #kontakt .left .links a:hover {
    color: #08aee2; }
  #kontakt .left .links span {
    margin: 0 10px; }
#kontakt .left .social {
  margin: 20px auto;
  height: 17px;
  width: 168px;
  text-align: center; }
  #kontakt .left .social a {
    display: inline-block;
    float: left;
    height: 17px;
    margin-right: 34px; }
    #kontakt .left .social a:after {
      display: none; }
    #kontakt .left .social a:last-of-type {
      margin-right: 0; }
      #kontakt .left .social a:last-of-type:after {
        display: block; }
  #kontakt .left .social .facebook {
    background: url("../img/sprites.png") no-repeat -28px -80px;
    width: 8px; }
  #kontakt .left .social .instagram {
    background: url("../img/sprites.png") no-repeat -44px -80px;
    width: 17px; }
  #kontakt .left .social .twitter {
    background: url("../img/sprites.png") no-repeat 0 -80px;
    width: 21px; }
  #kontakt .left .social .snapchat {
    background: url("../img/sprites.png") no-repeat -65px -80px;
    width: 18px; }
  #kontakt .left .social .facebook:hover {
    background-position: -28px -97px; }
  #kontakt .left .social .instagram:hover {
    background-position: -44px -97px; }
  #kontakt .left .social .twitter:hover {
    background-position: 0px -97px; }
  #kontakt .left .social .snapchat:hover {
    background-position: -65px -97px; }
#kontakt .right h3 a {
  text-decoration: underline; }
  #kontakt .right h3 a:hover {
    color: #07295e; }
#kontakt .right #kontaktForm {
  position: relative;
  margin-top: 15px;
  padding: 0;
  border: 1px solid #e5e5e5; }
  #kontakt .right #kontaktForm input {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px; }
  #kontakt .right #kontaktForm input[name=email] {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }
  #kontakt .right #kontaktForm input, #kontakt .right #kontaktForm textarea {
    color: #a3a3a3;
    letter-spacing: 0.4em;
    font-size: 13px; }
  #kontakt .right #kontaktForm textarea {
    width: 100%;
    padding: 18px;
    text-align: center;
    height: 145px;
    resize: none;
    margin-bottom: 40px; }
  #kontakt .right #kontaktForm .button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -20px; }
    #kontakt .right #kontaktForm .button a {
      height: 40px; }
    #kontakt .right #kontaktForm .button div:hover {
      background-color: #07295e; }
#kontakt .right .text {
  color: #a3a3a3; }
#kontakt .right .wrap {
  display: table-cell;
  vertical-align: middle; }

@media screen and (max-width: 740px) {
  nav {
    display: none; }

  #turene .loadMore {
    display: block; }

  #turene {
    padding-bottom: 60px; }

  .left, .right {
    padding: 0; }

  #omSlider .wrapElement, #sammarbeidSlider .wrapElement {
    padding: 0; }

  #om .pages, #sammarbeid .pages {
    margin: auto;
    margin-top: 20px; }

  #sammarbeid .h2Wrap {
    padding-left: 0; } }
@media screen and (max-width: 1219px) {
  .text {
    width: 100%; }

  .baloon1, .baloon2, .baloon3, .baloon4, .baloon5 {
    display: none; }

  #hvorfor .pages {
    left: 10px; } }
@media screen and (max-width: 979px) {
  #hvorfor #hvorforSlider {
    height: 280px; }
    #hvorfor #hvorforSlider .element {
      height: 280px; }

  #hvorfor .pages {
    left: 0;
    right: 0;
    top: initial;
    bottom: 50px;
    margin: auto;
    width: 150px;
    height: 30px;
    z-index: 1; }
    #hvorfor .pages li {
      float: left; } }
@media screen and (max-width: 739px) {
  header #mobileNavWrap {
    display: block; }

  #sammarbeid .right .h2Wrap {
    padding-left: 0; } }
@media screen and (max-width: 559px) {
  .left, .right {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }

  #omSlider .element, #omSlider,
  #sammarbeidSlider .element, #sammarbeidSlider {
    width: 300px; }

  #sammarbeid .arrow {
    background: url(../img/sprites.png) no-repeat -160px -54px;
    width: 33px;
    height: 33px; }

  #hvorfor .right {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
