.col {
    float:left;
}

.container {
    width:1200px;
    margin:0 auto;
    position:relative;

    &:after {
	content:'';
	clear:both;
	display:block;
    }
}

@for $i from 1 through 12 {
    .col-xl-#{$i} { 
	width: 100px*$i;
    }
}

@media screen and (max-width:1219px) and (min-width:980px) {
    
    .container {
	width:960px;
    }

    @for $j from 1 through 12 {
	.col-l-#{$j}, .col-xl-#{$j} {
	    width: 80px*$j;
	}
    }
    
    @for $j from 1 through 12 {
	.col-l-#{$j} {
	    width: 80px*$j;
	}
    }
    
    .hide-l {
        display:none;
    }
}

@media screen and (max-width:979px) and (min-width:740px) {
    
    .container {
	width:720px;
    }

    @for $j from 1 through 12 {
	.col-xl-#{$j} {
	    width: 60px*$j;
	}
    }
    
    @for $j from 1 through 12 {
	.col-l-#{$j} {
	    width: 60px*$j;
	}
    }
    
    @for $j from 1 through 12 {
	.col-m-#{$j} {
	    width: 60px*$j;
	}
    }
    
    .hide-l, .hide-m {
        display:none;
    }
}

@media screen and (max-width:739px) and (min-width:560px) {
    
    .container {
	width:540px;
    }

    @for $j from 1 through 12 {
	.col-xl-#{$j} {
	    width: 45px*$j;
	}
    }
    
    @for $j from 1 through 12 {
	.col-l-#{$j} {
	    width: 45px*$j;
	}
    }
    
    @for $j from 1 through 12 {
	.col-m-#{$j} {
	    width: 45px*$j;
	}
    }
    
    @for $j from 1 through 12 {
	.col-s-#{$j} {
	    width: 45px*$j;
	}
    }
    
    .hide-l, .hide-m, .hide-s {
        display:none;
    }
}

@media screen and (max-width:559px) {
    
    .container {
	width:100%;
        padding:0 10px;
    }

    @for $j from 1 through 12 {
	.col-xl-#{$j} {
	    width: $j/12*100%;
	}
    }
    
    @for $j from 1 through 12 {
	.col-l-#{$j}{
	    width: $j/12*100%;
	}
    }
    
    @for $j from 1 through 12 {
	.col-m-#{$j} {
	    width: $j/12*100%;
	}
    }
    
    @for $j from 1 through 12 {
	.col-s-#{$j} {
	    width: $j/12*100%;
	}
    }
    
    @for $j from 1 through 12 {
	.col-xs-#{$j} {
	    width: $j/12*100%;
	}
    }
    
    .hide-l, .hide-m, .hide-s, .hide-xs {
        display:none;
    }
}

