@import "_grid.scss";
@import "_reset.scss";

html{
    height:100%;
    //overflow:hidden;
}

body{    
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size:16px; 
    overflow-x: hidden;
    overflow-y: scroll;
}

.ico2{
    //small icons
    display:block;
    margin:auto;
    width:39px;
    height:27px;
}

.bus{
    background:url(../img/sprites.png) no-repeat 0 -53px;
}

.plane{
    background:url(../img/sprites.png) no-repeat -39px -53px;
}

.sync{
    background:url(../img/sprites.png) no-repeat -82px -53px;
}

.arrow{
    background:url(../img/sprites.png) no-repeat -117px -53px;
}

.ico1{
    //large icons
    display:block;
    margin:auto;
    width:84px;
    height:53px;
}

.button{
    width:150px;
    height:70px;
    padding:10px 0;
    overflow:hidden;
    margin:auto;
    font-family:'Bebas Neue W01 Regular';
    font-weight:400;
    font-size:30px;
    color:#fff;
    z-index:100;
    position:relative;

    &:hover{
        div{
            background-color:#07295e;
        }
    }

    div{
        margin-left:-10px;
        line-height:50px;
        display:block;
        background:#08aee2;
        width:170px;
        height:50px;
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);

        -ms-transform-origin: 50% 50%; /* IE 9 */
        -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
        transform-origin: 50% 50%;

        transition:all 0.2s ease;

        /*        &:hover{
                    -ms-transform: rotate(5deg);
                    -webkit-transform: rotate(5deg);
                    transform: rotate(5deg);
                }*/


    }

    a{
        position:absolute;
        right:0;
        left:0;
        margin:auto;
        top:16px;

        span{
            position:relative;
        }
    }
}

.screen{
    width:100% !important;
    height:600px !important;
    display:block;
    margin:0;
}

.lines{

    display:inline-block;
    position:relative;
    padding:0;


    &:before, &:after{
        top:0;
        bottom:0;
        content:'';
        width:12px;
        height:2px;
        background-color:#e5e5e5;
        position:absolute;
        margin:auto;


    }
    &:before{

        left:-24px;
    }
    &:after{

        right:-24px;
    }

}

.linesHover{
    &:hover{
        &:before{
            -ms-transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
            left:-20px;
        }

        &:after{
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            right:-20px;
        }
    }

    &:before, &:after{
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }        

}

.left, .right{
    display:block;
    width:50%;
    height:100% !important;
    text-align:center;

    .verticalCenter{
        display:table;
        width:100%;
        height:100%;
    }
}

.left{
    float:left;
    padding-right:100px;
}

.right{
    float:right;   
    padding-left:100px;    
}

.text{
    margin:auto;
    margin-top:11px;
    font-size:12px;
    line-height:16px;
    text-align:center;  
    width:80%;
}

header{
    width:100% !important;
    height:100% !important;
    position:relative;
    background-image:url('../img/eventyr.jpg');
    background-size:cover;

    #mobileNavWrap{
        left:0;
        right:0;
        margin:auto;
        z-index:100;
        position:fixed;
        display:none;
        max-height:68px;
        height:100%;
        overflow:hidden;   
        -webkit-transition:max-height 0.5s ease;
        -moz-transition: max-height 0.5s ease;
        -o-transition: max-height 0.5s ease;
        transition: max-height 0.5s ease;

        &.expanded{
            //max-height:480px;
            max-height:1000px;

            #mobileNav{
                //max-height:480px;
                max-height:1000px;
                height:100%;

                .logo{
                    top:20px;
                }

                .showMenu .click{
                    /*                background-color: #166888;
                                    -ms-transform: rotate(90deg);
                                    -webkit-transform: rotate(90deg);
                                    transform: rotate(90deg);*/
                    background:#07295e !important;

                    span {
                        background: none !important;
                        //display:none;
                    }

                    span:before {
                        top: 0;
                        transform: rotate(45deg);
                    }

                    span:after {
                        bottom: 0;
                        transform: rotate(-45deg);
                    }

                    span:before, span:after {
                        transition-delay: 0s, 0.3s;
                    }


                }
            }
        }

        #mobileNav{
            font-family: 'Roboto', sans-serif;
            font-weight:900;
            color:#07295e;
            font-size:13px;
            position:relative;
            text-align:center;
            background:#fff;
            max-height:50px;
            -webkit-transition:max-height 0.5s ease;
            -moz-transition: max-height 0.5s ease;
            -o-transition: max-height 0.5s ease;
            transition: max-height 0.5s ease;
            padding-bottom:25px;

            .menu{
                padding-top:160px;            
                width:100%;
            }

            .logo{
                background:url("../img/logo-mini.png") no-repeat;
                position:absolute;
                left:0;
                top:-19px;
                right:0;
                width:108px;
                height:131px;
                margin:auto;
                z-index:0;

                -webkit-transition:all 0.8s ease;
                -moz-transition:all 0.8s ease;
                -o-transition:all 0.8s ease;
                transition:all 0.8s ease;
            }

            .studentreise{
                position:relative;
                z-index:10;
                line-height:50px;
                margin-left:20px;
                letter-spacing:-0.025em;
                float:left;
                cursor:default;

                span{
                    color:#08aee2;
                }
            }

            .showMenu{
                position:relative;
                z-index:10;
                cursor:pointer;
                float:right;
                margin-top:18px;
                margin-right:20px;
                height:15px;

                p{
                    line-height:15px;
                    float:left;
                    margin-right:10px;
                }

                .click{
                    /*                    
                                        float:right;
                                        width:22px;
                                        height:15px;
                                        background:url("../img/sprites.png") no-repeat -196px -58px;
                    */
                    float:right;
                    display: block;
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                    padding: 0;
                    width: 22px;
                    height: 22px;
                    margin-top:-3px;
                    font-size: 0;
                    text-indent: -9999px;
                    appearance: none;
                    box-shadow: none;
                    border-radius: none;
                    border: none;
                    cursor: pointer;
                    transition: background 0.3s;
                    background: #08aee2;

                    &:focus {
                        outline: none;
                    }

                    span {
                        display: block;
                        position: absolute;
                        top: 10px;
                        left: 3px;
                        right: 3px;
                        height: 2px;
                        background: #fff;
                        transition: transform 0.3s;
                    }

                    span:before,
                        span:after {
                        position: absolute;
                        display: block;                        
                        width: 100%;
                        height: 2px;
                        content: "";
                        background: #fff;
                        transition-duration: 0.3s, 0.3s;
                        transition-delay: 0.3s, 0s;
                    }

                    span:before {
                        top: -6px;
                        transition-property: top, transform;
                    }

                    span:after {
                        bottom:-6px;
                        transition-property: bottom, transform;
                    }
                }
            }
        }
    }
}

nav .facebook, #mobileNav .facebook{
    position:relative;
    margin-top:40px;

    a{
        display:block;
        margin:auto;
        height:17px;
        width:21px;
        background:url(../img/sprites.png) no-repeat -21px -80px;
    }

    p{
        margin-top:10px;
        margin-bottom:45px;
    }
    p span{
        color:#08aee2;
    }
}

nav .lines, mobileNav .lines{

    &:before{
        left:-20px;
    }

    &:after{
        right:-20px;
    }
}

nav ul, #mobileNav ul{
    margin-top:40px;

    li a{
        display:block;
        height:26px;
        line-height:26px;
        padding:0 5px;      

        &.active{
            color:#08aee2;
        }

        &:hover{
            color:#2f5186;
        }
    }

    li{
        position:relative;
        display:block;
        margin-bottom:2px;

        &:after{
            content:'';
            position:absolute;
            display:block;
            height:2px;
            width:16px;
            margin:auto;
            bottom:-2px;
            left:0;
            right:0;
            background:#e5e5e5;
        }

        &:last-of-type{
            &:after{
                display:none;
            }
        }
    }                    
}

nav{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    text-align:center;
    width:200px;
    height:530px;
    padding-top:37px;
    background:#fff;
    border-top:solid 1px #e5e5e5;
    border-left:solid 1px #e5e5e5;
    border-right:solid 1px #e5e5e5;

    font-family: 'Roboto', sans-serif;
    font-weight:900;
    color:#07295e;
    font-size:13px;

    z-index:1000;

    transition:height 0.4s ease;

    .jegErMed{
        top:-20px;

        a{
            height:40px;
        }
    }



    .edge{
        height:72px;
        width:199px;
        position:absolute;
        left:0;
        bottom:0;
        bottom:-18px;
        border-left:1px solid #e5e5e5;
        margin-left:-1px;
        overflow:hidden;

        &:after{
            content:'';
            position:absolute;
            top:0;
            bottom:0;
            left:-10px;
            bottom:0;
            margin:auto;
            height:50px;
            width:130%;
            border-bottom:1px solid #e5e5e5;
            background:#fff;
            -ms-transform: rotate(-5deg);
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);

            -ms-transform-origin: 50% 50%;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;


        }
    }

    .loadMore{
        display:none;
        position:absolute;
        bottom:-80px;
        left:0;
        right:0;
        margin:auto;

        a{
            margin:auto;
            width:31px;
            height:27px;
        }

        p{

        }

    }
}

#turene .date{
    font-size:13px;        
    color:#a3a3a3;
    margin-top:15px;
    letter-spacing:0.4em;
}

#turene .price{
    margin-top:11px;
    font-size:13px;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    color:#07295e;
}

#turene .from, h3{
    font-size:24px;
    font-family:Georgia, serif;
    font-style:italic;
    margin-top:11px;
    color:#08aee2;
}

#turene .to, h2{
    margin-top:11px;
    font-size:36px;   
    font-family:'ITC Avant Garde Gothic W02 Bd';
    color:#07295e;
    letter-spacing:-0.05em;
}

#turene{

    padding-top:50px;
    padding-bottom:25px;
    overflow:hidden;
    position:relative;

    .loadMore{
        display:none;
        position:absolute;
        //width:50px;
        bottom:30px;
        left:0;
        right:0;
        margin:auto;
        font-family: 'Roboto', sans-serif;
        font-weight:900;
        color:#07295e;
        font-size:13px;
        text-align:center;

        a{
            margin:auto;
            width:31px;
            height:27px;
        }

        p{

        }

    }


    .element{

        position:relative;

        .button{
            content:"";
            position:absolute;
            left:0;
            right:0;
            bottom:-160px;
            //display:none;
            z-index:0;

            transition:all 0.4s ease;
            -moz-transition:all 0.4s ease;
            -webkit-transition:all 0.4s ease;
            -o-transition:all 0.4s ease;


        }

        margin:auto;
        margin-bottom:50px;

        .image{
            width:100%;            
            position:relative; 
            z-index:1;

            img{
                width:100%;
            }

            &:after{
                content:"";
                position:absolute;
                left:0;
                right:0;
                bottom:-11px;
                margin:auto;
                height:30px;
                width:120px;
                display:block;
                background:url("../img/curvyborder.png") no-repeat;
            }
        }
        .under{
            border:1px solid #e5e5e5;
            text-align:center;
            margin:auto;
            padding-bottom:40px;
            padding-top:25px;
            margin-top:10px;
        }
    }

}

//sliders
#omSlider, #sammarbeidSlider{
    overflow:hidden;
    margin:auto;
    width:50%;

    .holder{
        padding:0px;
        //min-height:300px;
    }

    .wrapElement{
        width:50%;
        padding-left:100px;
    }

    .element{
        margin:auto !important;
    }
}

.pages{
    margin-top:20px;
    margin-left:100px;

    li{
        width:30px;
        height:20px;
        color:transparent;
        position:relative;
        display:inline-block;
        cursor:pointer;

        &:after{
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            margin:auto;

            height:5px;
            width:5px;
            background-color:#2c4976;
            border-radius:50%;
            -webkit-border-radius:50%;
            color:transparent;
            cursor:pointer;

            transition:width 0.4s ease 0s, height 0.4s ease 0s;
            -moz-transition:width 0.4s ease 0s, height 0.4s ease 0s;
            -webkit-transition:width 0.4s ease 0s, height 0.4s ease 0s;
            -o-transition:width 0.4s ease 0s, height 0.4s ease 0s;
        }

        &:last-of-type{

        }

        &.active:after{
            height:10px;
            width:10px;
            border:2px solid #08aee2;
            background-color:transparent;
        }
    }
}

#om{

    .right{
        background:#07295e;
        position:relative;
        transition:all 0.3s ease-out 0.3s;
        -moz-transition:all 0.3s ease-out 0.3s;
        -webkit-transition:all 0.3s ease-out 0.3s;
        -o-transition:all 0.3s ease-out 0.3s;
        padding:0;

        .baloon1, .baloon2, .baloon3{
            position:absolute;
        }

        .baloon1{
            right:60px;
            top:60px;
        }

        .baloon2{
            left:-60px;
            top:-50px;
        }

        .baloon3{
            right:-200px;
            bottom:-100px;
        }

        .element{

            .ico1{

            }

            .quote{
                display:block;
                width:18px;
                height:12px;
                background:url('../img/sprites.png') no-repeat -87px -80px; 
                margin:20px auto;

                &:before, &:after{
                    background-color:#2c4976;

                }
            }

            h2{
                color:#fff;
            }

            .text{
                color:#fff;
            }
        }
    }

    .left{
        position:relative;
        //background:url("../img/omSlider/1.jpg") no-repeat;
        background-size:cover;

        div{
            left:0;
            top:0;
            position:absolute;
            display:block;
            width:100%;
            height:100%;
            opacity:0;
            -moz-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;

        }
    }

    .wrap{
        display:table-cell;
        vertical-align:middle;
    }
}

#hvorfor{

    .icoHolder{
        position:relative;
        display:block;
        margin:auto;
        width:84px;
        height:53px;
    }

    .ico1{
        position:absolute;
        left:0;
        top:0;
        opacity:0;
        -moz-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    #hvorforSlider{
        height:230px;
        margin:auto;
    }

    .h2Wrap{
        text-align:center;
        margin:auto;
    }

    .pages{
        position:absolute;
        top:0;
        bottom:0;
        left:30px;
        margin:auto;
        width:30px;
        height:100px;

        li{
            color:transparent;
            display:block;

            &:after{
                background:#A3A3A3;
            }

            &.active:after{
                height:10px;
                width:10px;
                border:2px solid #A3A3A3;
                background:#fff;
            }
        }
    }

    .wrap{
        width:100%;
        display:table-cell;
        vertical-align:middle;
        position:relative;
    }

    .right{
        background-position:right top;
        position:relative;
        background-size:cover;
        z-index:-1;

        div{
            display:block;
            width:100%;
            height:100%;
            opacity:0;
            -moz-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
            position:absolute;
            left:0;
            right:0;
        }
    }

    .left .element{
        background:#fff;
        height:230px;
    }


    .element{
        margin:auto;
        position:relative;
        padding:0;
        z-index:0;

        .text{
            color:#a3a3a3;
        }

        .number{
            margin-top:15px;
            margin-bottom:9px;
            font-size:18px;
            font-family:Georgia, serif;
            font-style:italic;
            color:#a3a3a3;
        }
    }
}

#sammarbeid{



    .pages li{
        color:transparent;

        &:after{
            background:#A3A3A3;
        }

        &.active:after{
            height:10px;
            width:10px;
            border:2px solid #A3A3A3;
            background:#fff;
        }
    }

    .wrap{
        display:table-cell;
        vertical-align:middle;
    }

    .left{
        background-color:#08aee2;
        position:relative;

        .baloon4, .baloon5{
            position:absolute;
        }

        .baloon4{
            left:-90px;
            top:-190px;
        }

        .baloon5{
            right:-70px;
            bottom:-70px;
        }

        h3, .text{
            color:#fff;
        }

        .text{
            color:#fff;
        }

        .arrow{
            margin-top:15px;

            &:after, &:before{
                background-color:#46c2e9;
            }
        }
    }

    .right{

        .h2Wrap{
            text-align:center;
            margin:auto;
            padding-left:100px;
        }

        padding:0;

        .text{
            color:#a3a3a3;
        }

        .button2{
            display:block;
            height:51px;
            width:160px;
            border:2px solid #e5e5e5;
            color:#a3a3a3;
            font-size:13px;
            line-height:47px;
            text-align:center;
            margin:auto;
            margin-top:20px;

            &:hover{
                background:#e5e5e5;

            }
        }
    }

    .element{
        margin:auto;
        position:relative;
    }
}

#kontakt{

    .element{
        margin:auto;
    }

    .wrap{
        display:table-cell;
        vertical-align:middle;
    }

    .left{

        .links{
            color:#07295e;
            font-size:15px;
            font-weight:900;
            margin-top:40px;            

            a{
                text-decoration:underline;
            }

            a:hover{
                color:#08aee2;
            }

            span{
                margin:0 10px;
            }
        }

        .social{

            margin:20px auto;
            height:17px;
            width:168px;
            text-align:center;

            a{
                display:inline-block;
                float:left;
                height:17px;
                margin-right:34px;

                &:after{
                    display:none;
                }

                &:last-of-type{

                    &:after{
                        display:block;
                    }

                    margin-right:0;
                }

            }

            .facebook{
                background:url('../img/sprites.png') no-repeat -28px -80px;
                width:8px;
            }
            .instagram{
                background:url('../img/sprites.png') no-repeat -44px -80px;
                width:17px;
            }
            .twitter{
                background:url('../img/sprites.png') no-repeat 0 -80px;
                width:21px;
            }
            .snapchat{
                background:url('../img/sprites.png') no-repeat -65px -80px;
                width:18px;
            }

            .facebook:hover{
                background-position: -28px -97px;
            }
            .instagram:hover{
                background-position: -44px -97px;
            }
            .twitter:hover{
                background-position: 0px -97px;
            }
            .snapchat:hover{
                background-position: -65px -97px;
            }
        }
    }

    .right{

        h3 a{
            text-decoration:underline;

            &:hover{
                color:#07295e;
            }

        }

        #kontaktForm{
            position:relative;
            margin-top:15px;
            padding:0;
            border:1px solid #e5e5e5;

            input{
                width:100%;
                text-align:center;
                height:50px;
                line-height:50px;
            }

            input[name=email]{
                border-top:1px solid #e5e5e5;
                border-bottom:1px solid #e5e5e5;
            }

            input, textarea{
                color:#a3a3a3;
                letter-spacing:0.4em;
                font-size:13px;

            }

            textarea{
                width:100%;
                padding:18px;
                text-align:center;
                height:145px;
                resize:none;
                margin-bottom:40px;
            }

            .button{
                position:absolute;
                left:0;
                right:0;
                margin:auto;
                bottom:-20px;

                a{
                    height:40px;
                }
                div:hover{
                    background-color:#07295e;
                }
            }
        }

        .text{
            color:#a3a3a3;
        }

        .wrap{
            display:table-cell;
            vertical-align:middle;
        }

    }
}

//RESPONSIVE

//device size: s
@media screen and (max-width:740px){
    nav{
        display:none;
    }

    #turene .loadMore{
        display:block;
    }

    #turene{
        padding-bottom:60px;
    }

    .left, .right{
        padding:0;
    }

    #omSlider .wrapElement, #sammarbeidSlider .wrapElement{
        padding:0;
    }

    #om .pages, #sammarbeid .pages{
        margin:auto;
        margin-top:20px;
    }

    #sammarbeid .h2Wrap{
        padding-left:0;
    }
}

//device size:l
@media screen and (max-width:1219px){
    .text{
        width:100%;
    }
    .baloon1, .baloon2, .baloon3, .baloon4, .baloon5{
        display:none;
    }
    #hvorfor .pages{
        left:10px;
    }
}

//device size:m
@media screen and (max-width:979px){

    #hvorfor #hvorforSlider{
        height:280px;

        .element{
            height:280px;
        }
    }

    #hvorfor .pages{
        left:0;
        right:0;
        top:initial;
        bottom:50px;
        margin:auto;
        width:150px;
        height:30px;
        z-index:1;

        li{
            float:left;
        }
    }

}

//device size: s
@media screen and (max-width:739px){
    header #mobileNavWrap{
        display:block;
    }

    #sammarbeid .right .h2Wrap{
        padding-left:0;
    }
}

//device size:xs
@media screen and (max-width:559px){
    .left, .right{
        width:100%;
        padding-left:10px;
        padding-right:10px;
    }

    #omSlider .element, #omSlider,
    #sammarbeidSlider .element, #sammarbeidSlider{
        width:300px;
    }

    #sammarbeid .arrow{
        background:url(../img/sprites.png) no-repeat -160px -54px;
        width:33px;
        height:33px;
    }

    #hvorfor .right{
        display:none;
    }

}